# Azure Resource Group
RG=your-resource-group

# Azure Region
LOCATION=westeurope

# App Service
APP_NAME=your-app-name
PLAN_NAME=your-app-service-plan

# Azure SQL
SQL_SERVER_NAME=your-sql-server-name
DB_NAME=your-database-name
SQL_ADMIN_USER=your-admin-user
SQL_ADMIN_PASSWORD=your-password

# Azure Key Vault
KV_NAME=your-keyvault-name

# Azure Storage
# Must be globally unique and lowercase
STORAGE_NAME=yourstorageaccount123