RG=your-resource-group
LOCATION=westeurope

APP_NAME=your-app-name
PLAN_NAME=your-app-service-plan

SQL_SERVER_NAME=your-sql-server-name
DB_NAME=your-database-name

SQL_ADMIN_USER=your-admin-user
SQL_ADMIN_PASSWORD=your-password

KV_NAME=your-keyvault-name
STORAGE_NAME=yourstorageaccount